@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Roboto');
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.navbar {
    position: fixed;
    width: 100%;
    background-color: #0a442e;
    overflow: hidden;
    top: 0;
    z-index: 99;

}

.navbar-list {
    display: flex;
    justify-content: flex-start;
    padding-left: 10rem;
}

.navbar-item {
    text-align: center;
    align-items: center;
    display: block;
    padding: .5rem 2rem;
    font-size: 2rem;
    font-family: monospace, Helvetica, sans-serif;
    color: #888;
    mix-blend-mode: luminosity;
    margin-top: .3rem;
    margin-bottom: .3rem;
}

.navbar-item a {
    text-decoration: none;
    color: #888;
    mix-blend-mode: luminosity;
    transition: 0.1s ease-in-out color, .1s ease-in-out border-color;
}

.navbar-item a:hover {
    color: #ddd;
    border-color: #ddd;
}

.login-ctn {
    margin-left: auto;
}

.login-btn {
    background-color: #0a442e;
    align-items: center;
    margin-left: auto;
    margin-right: 3rem;
    border: .1rem #888;
    padding: .5rem .7rem;
    border-style: solid;
    border-radius: 1rem;
}

.login-btn:hover {
    color: #ddd;
    border-color: #ddd;
}

.navbar-item-current {
    text-align: center;
    align-items: center;
    display: block;
    font-size: 2rem;
    font-family: monospace, Helvetica, sans-serif;
    mix-blend-mode: luminosity;
    margin-top: .3rem;
    margin-bottom: .3rem;
}

.current {
    color: #fff;
    mix-blend-mode: luminosity;
}

.current-ctn {
    margin-left: auto;
}

.current-btn {
    margin-left: auto;
    border: .1rem #fff;
    padding: .5rem .7rem;
    border-style: solid;
    border-radius: 1rem;
    margin-right: 10rem;
}

@media (max-aspect-ratio: 10/9) {
    .navbar-list {
        padding-left: 1rem;
    }

    .navbar-item {
        padding: 2rem 1rem;
        font-size: 2rem;
    }

    .login-btn {
        align-items: center;
        padding: 2rem 1rem;
    }
}