.container {
    padding-right: 30rem;
    padding-left: 30rem;
    color: #eee;
    font-family: monospace, Helvetica, sans-serif;
    text-align: center;
    margin-top: 5rem;
}

body {
    background-color: #222;
}

.div {
    font-size: 8rem;
}

.a {
    font-size: 1.4rem;
    text-decoration: none;
    color: #eee;
}

.p {
    font-size: 1.4rem;
    text-decoration: none;
    color: #eee;
}

.a {
    text-decoration: underline;
    transition: .1s ease-in-out color, .1s ease-in-out font-size, .1s ease-in-out position;
}

.a:visited {
    color: #eee;
}

.a:hover {
    color: #555;
    cursor: pointer;
    font-size: 1.5rem;
    position: translate()
}

#appear {
    display: none;
}

@media(max-width:960px) {
    .container {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}